<div id="contactanos">
  <section class="section blog" aria-label="blog" id="blog">
      <div class="container">

        <p class="section-subtitle">Our Blogs</p>

        <h2 class="h2 section-title">Recent news & events</h2>

        <p class="section-text">
         PRUEBA..............................................
        </p>

        <ul class="blog-list grid-list">

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 770; --height: 500;">
                <img src="assets/images/blog-1.jpg" width="770" height="500" loading="lazy"
                  alt="At the end of the day, going forward, a new normal that has evolved from. your only logistic partner."
                  class="img-cover">
              </figure>

              <div class="card-content">

                <time class="card-meta" datetime="2022-08-02">
                  <span class="span">02</span> Aug
                </time>

                <h3 class="h3 card-title">
                  <a href="#">
                    At the end of the day, going forward, a new normal that has evolved from. your only logistic
                    partner.
                  </a>
                </h3>

                <p class="card-text">
                  New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit. typesetting
                  industry the standard
                  dummy text ever since the when an printer.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span">Read More</span>
                </a>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 770; --height: 500;">
                <img src="assets/images/blog-2.jpg" width="770" height="500" loading="lazy"
                  alt="Going forward, a new normal that has evolved from generation. moving your products across all borders."
                  class="img-cover">
              </figure>

              <div class="card-content">

                <time class="card-meta" datetime="2022-08-21">
                  <span class="span">21</span> Aug
                </time>

                <h3 class="h3 card-title">
                  <a href="#">
                    Going forward, a new normal that has evolved from generation. moving your products across all
                    borders.
                  </a>
                </h3>

                <p class="card-text">
                  New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit. typesetting
                  industry the standard
                  dummy text ever since the when an printer.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span">Read More</span>
                </a>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

</div>
