<section class="section newsletter" aria-label="newsletter">
      <div class="container">

        <figure class="newsletter-banner img-holder">
          <img src="assets/images/newsletter-banner.png" width="303" height="381" alt="newsletter banner"
            class="w-100">
        </figure>

        <div class="newsletter-content">

          <h2 class="h2 section-title">Contactanos para recibir ofertas y novedades</h2>

          <form action="" class="newsletter-form">
            <!-- <input type="email" name="email_address" placeholder="Ingresa tu correo electronico" aria-label="email"
              class="email-field"> -->

              <button type="button" class="newsletter-btn"><a class="btn btn-custom-outline" 
                href="https://wa.me/59168077273/?text=Soy%20emprendedor,%20le%20contacto%20desde%20su%20pagina%20web"><span>
                  Contactanos para recibir ofertas y novedades</span> </a></button>
          </form>

        </div>

      </div>
    </section>
