
  
      <section class="section service" id="modulos-soft" aria-label="service">
        <div class="text-center" style="text-align: -webkit-center;">
            <img src="assets/images/jack.png" width="116" height="116"  
            class="hero-shapex shape-1x">
          </div>
        <div class="container">
  
          <p class="section-subtitle">Modulos del Software</p>
  
          <h2 class="h2 section-title">Nuestros modulos al tener el acceso</h2>
          <ul class="service-list grid-list-2">
  
            <li>
                <div class="service-card-modul">
                    <div class="icon-card">
                        <ion-icon name="phone-portrait" ></ion-icon>
                    </div>
                    
                   <p class="card-title">
                    Aplicación Movil
                   </p>
                   <div class="card-text">
                        <span>
                           <b>- App para android</b><br>
                           <b>- App para IOS </b><br>
                           <b>-------------------- </b><br>
                           <b>- Realiza pedidos </b><br>
                           <b>- Realiza Entregas </b><br>
                           <b>- Verifica Rutas de entrega </b><br>
                           <b>- Realiza facturacion desde la aplicacion </b><br>


                        </span>
                        <button  class="card-btn" aria-label="ver mas">
                            Ver más
                            <ion-icon class="icon-center" name="arrow-forward"></ion-icon>
                          </button>
                    </div>
                </div>
                
            </li>
            <li>
                <div class="service-card-modul">
                    <div class="icon-card">
                        <ion-icon name="desktop"></ion-icon>
                    </div>
                    
                   <p class="card-title">
                    Aplicación Web Administrador 
                   </p>
                   <div class="card-text">
                        <span>
                            <b>- Acceso desde cualquier dispositivo atravez del navegador</b><br>
                            
                            <b>-------------------- </b><br>
                            <b>- Gestionar Entregas </b><br>
                            <b>- Gestionar pedidos </b><br>
                            <b>- Getionar facturación </b><br>
                            <b>- Generar Rutas de Venta </b><br>
                            <b>- Reportes</b><br>
                        </span>
                        <button  class="card-btn" aria-label="ver mas">
                            Ver más
                            <ion-icon name="arrow-forward" class="icon-center"></ion-icon>
                          </button>
                    </div>
                </div>
            </li>
            
          </ul>
  
        </div>
      </section>
  
                
